
body {
    
    
    background-color: #2b07bc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

    
}

h1 {

    font-size: 40px;
    text-align: center;
    margin-top: 300px;
    color: white;
    font-family:roboto;

}

.logo {

    height: 200px;
    width: 200px;
    margin-left: 650px;
    margin-top: 20px;


}